# Build Output
app
*.exe
*.out
*.o
*.obj
*.a
*.so
*.dylib


# Build Directories
build/
cmake-build*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile


# Logs
logs/
*.log


# Generated Analytics Files
analytics.csv
analytics_graph.png


# Python Cache
__pycache__/
*.pyc


# VS Code
.vscode/


# OS Files
.DS_Store
Thumbs.db


# Temporary Files
*.tmp
*.swp
*~

simlipal_dump.sql

.env